@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
}
@media (max-width: 768px) {
  .header {
    margin: 1rem 1rem;
  }
}
.header__logo {
  max-width: 30%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__logo {
    width: 40%;
  }
}
.header__button {
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: 0.1rem solid hsl(321, 100%, 78%);
  box-shadow: 0 0 3px hsl(321, 100%, 78%);
  background: none;
  color: hsl(321, 100%, 78%);
  font-weight: 400;
  text-shadow: 0 0 3px hsl(321, 100%, 78%);
}
@media (max-width: 768px) {
  .header__button {
    width: 9rem;
    height: 2.7rem;
  }
}
.header__button:hover {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .hero {
    padding: 2rem;
  }
}
.hero__tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: hsl(192, 100%, 9%);
  text-shadow: 0 0 0.1rem hsl(192, 100%, 9%);
}
@media (max-width: 768px) {
  .hero__tittle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(192, 100%, 9%);
    text-shadow: 0 0 0.1rem hsl(192, 100%, 9%);
  }
}
.hero__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: hsl(192, 100%, 9%);
  font-weight: 400;
  width: 50%;
}
@media (max-width: 768px) {
  .hero__paragraph {
    width: 100%;
  }
}
.hero__button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: hsl(207, 100%, 98%);
  font-weight: 600;
  width: 30rem;
  height: 5rem;
  border-radius: 3rem;
  background: hsl(322, 100%, 66%);
  border: none;
  box-shadow: 0 0 0.3rem hsl(321, 100%, 78%);
  margin-top: 2rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hero__button {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: hsl(207, 100%, 98%);
    font-weight: 600;
    width: 20rem;
    height: 4.5rem;
  }
}

.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.metrics__image {
  max-width: 60%;
}
@media (max-width: 768px) {
  .metrics__image {
    max-width: 80%;
  }
}
.metrics__items {
  display: flex;
  width: min(100% - 25rem, 1440px);
}
@media (max-width: 768px) {
  .metrics__items {
    margin: 8rem 0;
    width: 100%;
    flex-direction: column;
    gap: 8rem;
  }
}
.metrics__comunity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100% - 3rem, 1440px);
  margin: 0 auto;
}
.metrics__comunity-image {
  width: 15%;
  margin-left: -7.5rem;
}
.metrics__comunity-tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: hsl(192, 100%, 9%);
  text-shadow: 0 0 0.1rem hsl(192, 100%, 9%);
}
.metrics__comunity-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: hsl(192, 100%, 9%);
  font-weight: 400;
  opacity: 70%;
}

.features__grow-bg-t {
  background-image: url(../../../images/bg-section-top-desktop-1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 12rem;
}
.features__grow-bg-b {
  background-image: url(../../../images/bg-section-bottom-desktop-1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 12rem;
}
.features__grow-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
}
@media (max-width: 768px) {
  .features__grow-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.features__grow-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  max-width: 38%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .features__grow-text {
    order: 1;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}
.features__grow-image {
  width: 30%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .features__grow-image {
    order: 0;
    width: 80%;
  }
}
.features__conversations {
  margin: 5rem 0;
}
.features__conversations-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .features__conversations-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.features__conversations-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  max-width: 38%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .features__conversations-text {
    order: 1;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}
.features__conversations-image {
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .features__conversations-image {
    order: 0;
    width: 80%;
  }
}
.features__users-bg-t {
  background-image: url(../../../images/bg-section-top-desktop-2.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 12rem;
}
.features__users-bg-b {
  background-image: url(../../../images/bg-section-bottom-desktop-2.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 12rem;
}
.features__users-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
}
@media (max-width: 768px) {
  .features__users-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.features__users-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  max-width: 38%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .features__users-text {
    order: 1;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}
.features__users-image {
  width: 30%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .features__users-image {
    order: 0;
    width: 80%;
  }
}

.subscribe {
  max-width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.subscribe__text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .subscribe__text {
    max-width: 80%;
    text-align: center;
  }
}
.subscribe__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background-color: hsl(322, 100%, 66%);
  width: 20rem;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  color: hsl(207, 100%, 98%);
  box-shadow: 0 0 0.3rem hsl(321, 100%, 78%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .subscribe__button {
    max-width: 50%;
    height: 3.5rem;
  }
}

.footer {
  color: hsl(207, 100%, 98%);
  font-family: "Open Sans", sans-serif;
}
.footer-bg-t {
  background-image: url(../../../images/bg-footer-top-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12rem;
}
@media (max-width: 768px) {
  .footer {
    background-image: url(../../../images/bg-footer-top-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12.5rem;
  }
}
.footer__container {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  padding-bottom: 5rem;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 5rem;
}
@media (max-width: 768px) {
  .footer__info {
    margin-left: 2rem;
    margin-right: 4rem;
    order: 1;
  }
}
.footer__info-logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(118deg) brightness(94%) contrast(114%);
  max-width: 50%;
  height: auto;
}
@media (max-width: 768px) {
  .footer__info-logo {
    max-width: 60%;
  }
}
.footer__info-phone {
  display: flex;
  gap: 1rem;
}
.footer__info-mail {
  display: flex;
  gap: 1rem;
}
.footer__info-social-media {
  display: flex;
  align-items: center;
  width: 20%;
  height: auto;
  margin-top: 5rem;
  gap: 1rem;
}
.footer__info-social-media-fb:hover {
  filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(1924%) hue-rotate(157deg) brightness(117%) contrast(108%);
  cursor: pointer;
}
.footer__info-social-media-ig:hover {
  filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(1924%) hue-rotate(157deg) brightness(117%) contrast(108%);
  cursor: pointer;
}
.footer__info-social-media-tw:hover {
  filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(1924%) hue-rotate(157deg) brightness(117%) contrast(108%);
  cursor: pointer;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 3rem;
  max-width: 100%;
}
@media (max-width: 768px) {
  .footer__subscribe {
    max-width: 90%;
    margin-left: 2rem;
    order: 0;
  }
}
.footer__subscribe-tittle {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer__subscribe-tittle {
    font-size: 2rem;
  }
}
.footer__subscribe-paragraph {
  margin-right: 10rem;
}
@media (max-width: 768px) {
  .footer__subscribe-paragraph {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
}
.footer__subscribe-inputs {
  border: 2px solid orangered;
  display: flex;
  gap: 1.5rem;
  max-width: 100%;
}
@media (max-width: 768px) {
  .footer__subscribe-inputs {
    flex-direction: column;
    gap: 0rem;
  }
}
.footer__subscribe-inputs-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background-color: hsl(207, 100%, 98%);
  padding: 0.5rem;
  max-width: 23rem;
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: hsl(192, 100%, 9%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer__subscribe-inputs-text {
    max-width: 50rem;
    height: 3.5rem;
  }
}
.footer__subscribe-inputs-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background-color: hsl(322, 100%, 66%);
  width: 10rem;
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: hsl(207, 100%, 98%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer__subscribe-inputs-button {
    font-size: 1.2rem;
    align-self: flex-end;
    margin-top: 1rem;
    width: 12rem;
    height: 3.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
