@import './components/vairables';
@import './components/base';


.header {
  border: 2px solid orangered;
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  &__logo {
    border: 2px solid blue;
    width: 25%;
    height: 25%;
  }
  &__navbar {
    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      &-open {
        &-hide {
          display: none;
        }
      }
      &-close {
        display: none;

        &-show {
          display: flex;
        }
      }
    }

    &-items {
      background-color: aquamarine;
      display: none;
      &-show {
        display: flex;
      }
    }

    &-auth {
      background-color: gray;
      display: none;
    }
  }
}

main {
  background-color: greenyellow;
}