.features {
  // GROW ARTICLE
  &__grow {
    &-bg-t {
      background-image: url(../../../images/bg-section-top-desktop-1.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height:12rem;
      @media (max-width: $xsm){
        height: 5rem;
      }
    }
    &-bg-b {
      background-image: url(../../../images/bg-section-bottom-desktop-1.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height:12rem;
    }
    &-container {
      @include custon-container-features;
      background-color: $neutral-very-pale-blue;
      @media (max-width: $xsm){
        @include custon-container-features(column);
        gap: 5rem;
      }
    }
    &-text {
      @include custom-texts($font-body, 1.2rem, $neutral-very-dark-cyan, $font-weight-semibold);
      @include custon-text-features;
      margin: 0 auto;

      @media (max-width: $xsm){
        order: 1;
        @include custon-text-features(80%);
        @include custom-texts($font-body, .83rem, $neutral-very-dark-cyan, $font-weight-regular);
        text-align: center;
      }
    }
    &-image {
      width: 30%;
      margin:  0 auto;
      @media (max-width: $xsm){
        order: 0;
        width: 70%;
      }
    }
  }
  
  // CONVERSATIONS ARTICLE
  &__conversations{
    margin: 5rem 0;
   &-container {
    @include custon-container-features;
    @media (max-width: $xsm){
      @include custon-container-features(column);
      gap: 5rem;
    }
   }
   &-text {
    @include custom-texts($font-body, 1.2rem, $neutral-very-dark-cyan, $font-weight-semibold);
    @include custon-text-features;
    margin: 0 auto;

    @media (max-width: $xsm){
      order: 1;
      @include custon-text-features(80%);
      @include custom-texts($font-body, .83rem, $neutral-very-dark-cyan, $font-weight-regular);
      text-align: center;
    }
   }
    &-image {
      width: 40%;
      margin: 0 auto;
      @media (max-width: $xsm){
        order: 0;
        width: 70%;
      }
    }
  }

  // USERS ARTICLE
  &__users {
    &-bg-t {
      background-image: url(../../../images/bg-section-top-desktop-2.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height:12rem;
    }
    &-bg-b {
      background-image: url(../../../images/bg-section-bottom-desktop-2.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height:12rem;
    }
   &-container {
    @include custon-container-features;
    background-color: $neutral-very-pale-blue;
    @include custon-container-features;
    background-color: $neutral-very-pale-blue;
    @media (max-width: $xsm){
      @include custon-container-features(column);
      gap: 5rem;
    }
   }
   &-text {
    @include custom-texts($font-body, 1.2rem, $neutral-very-dark-cyan, $font-weight-semibold);
    @include custon-text-features;
    margin: 0 auto;
    @media (max-width: $xsm){
      order: 1;
      @include custon-text-features(80%);
      @include custom-texts($font-body, .83rem, $neutral-very-dark-cyan, $font-weight-regular);
      text-align: center;
    }
   }
    &-image {
      width: 30%;
      margin:  0 auto;
      @media (max-width: $xsm){
        order: 0;
        width: 80%;
      }
    }
  }
}
