.footer {
  color: $neutral-very-pale-blue;
  font-family: $font-body;

  &-bg-t {
    background-image: url(../../../images/bg-footer-top-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
  }
  
  @media (max-width: $xsm){
    background-image: url(../../../images/bg-footer-top-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 12.5rem;
  }

  // FOOTER CONTAINER
  &__container {
    background-color: $neutral-very-dark-cyan;
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    padding-bottom: 5rem;
    @media (max-width: $xsm){
      flex-direction: column;
    }
  }

  // FOOTER INFO
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 5rem;
    @media (max-width: $xsm){
      margin-left: 2rem;
      margin-right: 4rem;
      order: 1;
    }

    &-logo {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(118deg) brightness(94%) contrast(114%);
      max-width: 50%;
      height: auto;
      @media (max-width: $xsm){
        max-width: 60%;
      }
    }
    
    &-phone {
      display: flex;
      gap: 1rem;
    }
    &-mail {
      display: flex;
      gap: 1rem;
    }
    &-social-media {
      display: flex;
      align-items: center;
      width: 20%;
      height: auto;
      margin-top: 5rem;
      gap: 1rem;
      &-fb:hover {
        filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(1924%) hue-rotate(157deg) brightness(117%) contrast(108%);
        cursor: pointer;
      }
      &-ig:hover {
        filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(1924%) hue-rotate(157deg) brightness(117%) contrast(108%);
        cursor: pointer;
      }
      &-tw:hover {
        filter: brightness(0) saturate(100%) invert(93%) sepia(35%) saturate(1924%) hue-rotate(157deg) brightness(117%) contrast(108%);
        cursor: pointer;
      }
    }
  }

  // FOOTER SUBSCRIBE
  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 3rem;
    max-width: 100%;
    @media (max-width: $xsm){
      max-width: 90%;
      margin-left: 2rem;
      order: 0;
    }
    &-tittle {
      text-transform: uppercase;
      @media (max-width: $xsm){
        font-size: 2rem;
      }
    }
    &-paragraph {
      margin-right: 10rem;
      @media (max-width: $xsm){
        font-size: 1.2rem;
        margin-right: 1rem;
      }
    }
    &-inputs {
      border: 2px solid orangered;
      display: flex;
      gap: 1.5rem;
      max-width: 100%;
      @media (max-width: $xsm){
        flex-direction: column;
        gap: 0rem;
      }
      &-text {
        font-family: $font-body;
        font-weight: $font-weight-semibold;
        font-size: 1rem;
        background-color: $neutral-very-pale-blue;
        padding: 0.5rem;
        max-width: 23rem;
        height: 2.5rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        border: none;
        color: $neutral-very-dark-cyan;
        cursor: pointer;
        @media (max-width: $xsm){
          border: 2px solid red;
          max-width: 50rem;
          height: 3.5rem;
        }
      }
      &-button {
        font-family: $font-body;
        font-weight: $font-weight-semibold;
        font-size: 1rem;
        background-color: $primary-pink;
        width: 10rem;
        height: 2.5rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        border: none;
        color: $neutral-very-pale-blue;
        cursor: pointer;
        @media (max-width: $xsm){
          font-size: 1.2rem;
          align-self: flex-end;
          margin-top: 1rem;
          width: 12rem;
          height: 3.5rem;
        }
      }
    }
  }
}
