.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  text-align: center;
  gap: 2rem;
  @media (max-width: $xsm){
    padding: 2rem;
  }
  &__tittle {
    @include custom-headings(3.5rem);
    @media (max-width: $xsm){
      @include custom-headings(2.5rem);
    }
  }
  &__paragraph {
    @include custom-texts($font-body, 1.5rem, $neutral-very-dark-cyan, $font-weight-regular);
    width: 50%;
    @media (max-width: $xsm){
      width: 100%;
    }
  }
  &__button {
    @include custom-texts($font-body, 1.5rem, $neutral-very-pale-blue, $font-weight-semibold);
    width: 30rem;
    height: 5rem;
    border-radius: 3rem;
    background: $primary-pink;
    border: none;
    box-shadow: 0 0 0.3rem $primary-light-pink;
    margin-top: 2rem;
    cursor: pointer;
    @media (max-width: $xsm){
      @include custom-texts($font-body, 1.2rem, $neutral-very-pale-blue, $font-weight-semibold);
      width: 20rem;
      height: 4.5rem;
    }
  }
}