// Mixins en header
@mixin custom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// CUSTOMS FONTS
@mixin custom-headings($font-size:2rem) {
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  font-size: $font-size;
  color: $neutral-very-dark-cyan;
  text-shadow: 0 0 .1rem $neutral-very-dark-cyan;
}

@mixin custom-texts($font-family:$font-body, $font-size:1rem, $font-color:$neutral-very-dark-cyan, $font-weight:$font-weight-regular) {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
}

// CUSTOM BUTTONS
@mixin custon-button() {
  width: "";
  height: "";
  border-radius: "";
  border: "";
  box-shadow: "";

  background: "";
}

// Features - Mixins
@mixin custon-container-features($flex-direction:row) {
  max-width: 100%;
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
}

@mixin custon-text-features($max-width:38%) {
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}